@import '../init/variables';

.user-profile {
  text-align: center;

  .user-picture {
    padding: 30px 0;
    max-width: 150px;
    margin: auto;

    img {
      border-radius: 50%;
      max-width: 150px;
      border: 1px solid #ababab;
      margin-bottom: 20px;
    }

    .profile-image {
      position: relative;
      width: 150px;
      height: 150px;
      margin: 0 auto 15px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .user-data {
    padding: 20px 0;
  }

  .name {
    font-size: 32px;
    text-transform: uppercase;

    .first, .last {
      padding: 0 5px;
      display: inline-block;
    }
  }

  .profile-data {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    .description {
      padding: 5px;
    }
  }

  .label-data {
    font-size: 14px;

    .label {
      text-transform: uppercase;
      font-weight: 700;
    }

    .field-content {
      display: inline;
      padding-left: 10px;
    }
  }
}

.user-edit {
  .user-picture {
    max-width: none;
  }

  .name {
    font-size: 16px;
  }

  .profile-data {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media all and (max-width: $xs) {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .field {
      width: 50%;

      @media all and (max-width: $xs) {
        width: 100%;
      }

      @media all and (min-width: $xs + 1) {
        &:first-of-type {
          text-align: right;
          padding: 7px;
        }

        &:last-of-type {
          text-align: left;
        }
      }

      .error-msg {
        margin-left: 15px;
        margin-top: 0;
      }
    }
  }

  #userUpload {
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: 15px;
    right: 6px;
    text-indent: -100000px;
    background: url("../../images/upload.svg") no-repeat center center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px 0px #330;
    cursor: pointer;
  }

  input {
    padding: 5px;
    margin-left: 15px;
    font-size: 16px;

    @media all and (max-width: $xs) {
      border: 1px solid;
      margin: 10px 0;
    }
  }

  form {
    input {
      min-width: 250px;
    }
  }

  .field-content {
    .btn {
      margin: 15px;
    }
  }

  .picture {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;

    img {
      width: 100%;
      height: 100%;
    }

    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0,0,0,0.5);
      border-radius: 50%;
      max-width: 150px;
      margin: auto;
      max-height: 150px;
      margin: 0 auto;
    }
  }
}

.pass-dialog {
  padding: 15px;
}